@font-face{
    font-family: "super-mario";
    src: url("../Assets/font/CHLORINP.TTF")
}

body{ 
    height: 100vh;
    width: 100vw;
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    background-color: gray;
    margin-top: 0;
}

header{
    height:90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    transition: margin-right 4s ease-in-out 1s;

}
header:active{
    transition: all 1s ease-out;
}

#start{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center
}
#content{
    border:20px inset #87ceeb ;
    background: skyblue;
    /*display: grid;*/
    grid-area: content;
    height: 90vmin;
    width: 90vmin;
    box-sizing: border-box;
    margin:2%;
    position: relative;
    grid-template-areas: "title-select""category-1" "category-2";
    grid-template-rows: 20% 40% 40%
    
    
}
#title-select{
    grid-area: title-select;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: super-mario;
    color:mediumblue;
    font-size:50px
}
#category-1{
    grid-area: category-1;
    display:grid;
    grid-template-areas: 
    " experience education" " skills projects";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
#category-1 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#category-2{
    grid-area: category-2;
    display: grid;
}
#experience,#btn-1{
    grid-area:experience;
    
}
#experience{
    height:5vmin;
    width: 20vmin;
}
#btn-1{
    position: relative;
}
#education,#btn-2{
    grid-area: education;
    height:5vmin;
    width: 20vmin;

}
#btn-2{
    position: relative;


}
#skills,#btn-3{
    grid-area: skills;
    height:5vmin;
    width: 20vmin;
}
#btn-3{
    position: relative;

}
#projects,#btn-4{
    height:5vmin;
    width: 20vmin;
}
#btn-4{
    position: relative;

}
.present{
    display: grid
}
.future, .past{
    display: none;
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
}
button{
    border: 10px inset blue;
    background: blue;
    max-width: 100px;
}